:root {
    --color-primary: #f7df1e;
    --color-second: #000;
    --position-ball: 0px;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Menu Burger */

.header {
    background-color: var(--color-primary);
    color: var(--color-second);
    position: sticky;
    top: 0;
    padding: 1rem;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    text-align: center; 
}

.section h2 {
    margin: 1rem;
}

.panel-btn {
    position: fixed;
    z-index: 999;
    right: 1vh;
    bottom: 1vw;
    width: 4rem;
    height: 4rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.panel {
    background-color: #000000ef;
    position: fixed;
    z-index: 990;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    /* opacity: 0; */
    /* transition: transform 0.3s ease, opacity 0.5s ease; */
    /* De arriba */
    transform: translate(0, -100%);
    /* De abajo */
    /* transform: translate(0, 100%); */
    /* De derecha */
    /* transform: translate(100%, 0); */
    /* De izquierda */
    /* transform: translate(-100%, 0); */
}

.panel.is-active {
    transform: translate(0,0);
    /* opacity: 1; */
    visibility: visible;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    color: var(--color-primary);
    display: block;
    width: inherit;
    padding: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-second);
}

.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--color-second);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-primary);

}

.ball-soccer {
    margin: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

/* Scoll Top Button */

.scroll-top-btn {
    position: fixed;
    background-color: var(--color-primary);
    color: var(--color-second);
    z-index: 999;
    border-radius: 50%;
    border: 0;
    outline: 0;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    bottom: 1vw;
    right: calc(4.25rem + 1vw);
    font-weight: bold;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;
}

.scroll-top-btn:hover {
    background-color: var(--color-second);
    color: var(--color-primary);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Dark Theme */

.dark-theme-btn {
    position: fixed;
    background-color: var(--color-primary);
    color: var(--color-second);
    z-index: 999;
    border-radius: 50%;
    border: 0;
    outline: 0;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    bottom: 1vh;
    left: 1vw;
    line-height: 2rem;
    font-weight: bold;
    cursor: pointer;
    visibility: visible;
}


.dark-theme-btn:hover {
    background-color: var(--color-second);
    color: var(--color-primary);
}

.dark-mode {
    background-color: var(--color-second);
    color: var(--color-primary); 
}