html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    flex-direction: column;
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
}

.header {
    padding: 0.5rem;
    background: antiquewhite;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    width: 3rem;
    height: auto;
    margin-left: 10px;
    color: chocolate;
}

.menu-items {
    margin-right: 50px;
}

.menu-items a {
    font-size: 1.2em;
    color: chocolate;
    padding: 0 1vw;
    transition: all .3s ease-in-out;
}

.menu-items a:hover {
    opacity: 0.75;
}

.container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Uploader */

.uploader-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

progress {
    margin-top: 1rem;
}

.drop-zone {
    margin-left: auto;
    margin-right: auto;
    border: thin dotted #000;
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-zone.is-active {
    border: thick dashed #000;
    background-color: rgba(0, 128, 0, 0.5);
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}