html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    flex-direction: column;
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
}

.header {
    padding: 0.5rem;
    background: antiquewhite;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    width: 3rem;
    height: auto;
    margin-left: 10px;
    color: chocolate;
}

.menu-items {
    margin-right: 50px;
}

.menu-items a {
    font-size: 1.2em;
    color: chocolate;
    padding: 0 1vw;
    transition: all .3s ease-in-out;
}

.menu-items a:hover {
    opacity: 0.75;
}

.container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Uploader */

.uploader-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

progress {
    margin-top: 1rem;
}

.drop-zone {
    margin-left: auto;
    margin-right: auto;
    border: thin dotted #000;
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-zone.is-active {
    border: thick dashed #000;
    background-color: rgba(0, 128, 0, 0.5);
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/* Formulario */

.form-contact {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.form-contact > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.form-contact textarea {
    resize: none;
}

.form-contact legend,
.form-contact-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.form-contact input,
.form-contact textarea {
    font-family: sans-serif;
}

.form-contact input[type='submit'] {
    cursor: pointer;
    font-weight: bold;
    width: 50%;
}

.form-contact *::placeholder {
    color: #000;
}

.form-contact [required]:valid {
    border: thin solid var(--form-ok-color);
}

.form-contact [required]:invalid {
    border: thin solid var(--form-error-color);
}

.form-contact-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transform: all 800ms ease;
}

.form-contact-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.form-contact-loader {
    text-align: center;
}

.none {
    display: none;
}

@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* Stripe */

.camisetas {
    display: flex;
    flex-wrap: wrap;
}

.camisetas > * {
    flex: 1 1 300px;
    margin: 1rem;
}

.camiseta {
    background-color: crimson;
    color: white;
    font-size: 125%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.camiseta:hover {
    opacity: .9;
    transform: scale(.9);
}

.camiseta img {
    max-width: 100%;
    height: auto;
}

.camiseta figcaption {
    padding: 1rem;
}

/* Pokemons */

.loader {
    display: block;
    margin: auto;
}